<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<!--<h1>Delete Mood</h1>-->

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <th:block th:each="mood : ${moods}">
        <div class="form-group">
            <label>
                <span th:text="${mood.name}"></span>
                <input type="checkbox" name="moodIds" th:value="${mood.id}" class="form-control">
                <input type="submit" name="Delete Mood" class="btn btn-danger">
            </label>
        </div>
    </th:block>
</form>

</body>
</html>