<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1>Mood Details</h1>

<table>
    <tr>
        <th>ID</th>
        <td th:text="${mood.id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${mood.name}"></td>
    </tr>
    <tr>
        <th>Hue</th>
        <td th:text="${mood.moodColor}"></td>
    </tr>
    <tr>
        <th>Emotions</th>
        <td>
            <span th:each="emotion : ${emotions}" th:text="${emotion.displayName} + ' '"></span>
        </td>
    </tr>
</table>

<a th:href="'/moods/add-emotion?moodId=' + ${mood.id}">Add Emotion</a>

</body>
</html>