<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<!--<h1>Create Mood</h1>-->

<nav th:replace="fragments :: navigation"></nav>

<input type="hidden" th:value="${mood.id}" name="moodId">

<form method="post" th:action="@{/moods/edit}">
    <div class="form-group">
        <label>Mood:<input type="text" th:field="${mood.name}" class="form-control"></label>
        <p class="errors" th:errors="${mood.name}"></p>
    </div>
    <div class="form-group">
        <label>Mood Type
            <select th:field="${mood.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}">
                </option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Hue:<input type="text" th:field="${mood.moodColor}" class="form-control"></label>
        <p class="errors" th:errors="${mood.moodColor}"></p>
    </div>
    <div class="form-group shadow-textarea">
        <label>Journal entry:
            <textarea class="form-control z-depth-1" rows="3" placeholder="Write about your day..." th:field="${mood.journal}"></textarea>
        </label>
    </div>
    <input type="submit" name="Edit Mood" class="btn btn-warning">
</form>

</body>
</html>