<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<!--<h1>Create Emotions</h1>-->

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/emotions/create">
    <div class="form-group">
        <label>Emotion:<input type="text" th:field="${emotion.name}" class="form-control"></label>
    </div>

    <input type="submit" name="Create Emotion" class="btn btn-success">
</form>

</body>
</html>